 <form id="login" align="center">
    <div id="intestazioneForm" >
        <p style="color: white"> LOGIN</p>
    </div>
    <div class="mail">
        <p>Email:<br/>
            <input class="mail-password" type="text" name="mail">

        </p>
    </div>
    <div class="password">
        <p>password: <br/>
            <input class="mail-password" type="password">
        </p>

    
 
   
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg" style="background-color: darkorange; color:white" onClick="parent.location='views/user/home.hbs'" >Accedi</button>
    </div>
    </div>
   <div class="dropdown">
<a href="#">Hai dimenticato la password?</a>    
  
  
</div>

    <hr/>
    <p>non sei ancora registrato? <a href='views/registration.hbs'>registrati ora</a></p>

  
</form> 

