<form id="registration" align="center">
    <div id="intestazioneForm">
        <p style="color: white"> REGISTRAZIONE</p>
    </div>
    <div class="mail">
        <p>Email:<br/>
            <input class="mail-password" type="text" name="mail">

        </p>
    </div>
    <div class="password">
        <p>password: <br/>
            <input class="mail-password" type="password">
        </p>
        <p>Ripeti password: <br/>
            <input class="mail-password" type="password">
        </p>

    </div>
    <div class=domanda>
        <p>Domanda di sicurezza per poter reimpostare la password: <br/>
        "Qual'è il nome del primo personsaggio con cui hai giocato?"</p>
        <input class="mail-password" type="text">
    </div>
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg">Registrati</button>
    </div>
    
</form> 
