<form id="registration" align="center" action="/registration">
    <div id="intestazioneForm">
        <p style="color: white; font-size:16px"> REGISTRAZIONE</p>
    </div>
    <div class="mail">
        <p>Email:<br/>
            <input class="mail-password" type="text" name="mail">

        </p>
    </div>
    <div class="password">
        <p>password: <br/>
            <input class="mail-password" type="password">
        </p>
        <p>Ripeti password: <br/>
            <input class="mail-password" type="password">
        </p>

    </div>
    <div class=domanda>
        <p>Domanda di sicurezza:<br/><i>"Nome del primo personsaggio giocato:"</i>
       </p>
        <input class="mail-password" type="text">
    </div>
    <input type="hidden" name="_csrf" value="{{csrfToke}}">
    <div id="buttons">
        <button type="submit" class="bottoni-acc-reg">Registrati</button>
    </div>
  
</form> 